<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">
      <!-- chat message -->
      <app-chat-message text="Escribe el texto que deseas que revise." />
      @for (message of messages(); track $index) {
      @if(message.isGpt) {
      <app-chat-message [text]="message.text" />
      } @else {
      <app-my-message [text]="message.text" />
      }
      }
      @if (isLoading()) {
      <app-typing-loader />
      }
    </div>
  </div>
  <!-- messageBox -->
  <app-text-message-box-select placeholder="Escribe aqui lo que deseas traducir" [options]="[]" (onMessage)="handleMessageWithSelect($event)" />
</div>
